/* Defaults */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100%;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    color: #252525;
    font-size: 1.25rem;
}

h1 {
    font-family: 'Oleo Script', cursive;
    letter-spacing: 0.1rem;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75rem;
    letter-spacing: 0.1rem;
}

h3 {
    font-family: 'Oleo Script', cursive;
    letter-spacing: 0.1rem;
}

a {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

img {
    object-fit: cover;
}

i {
    font-size: 100px;
    padding: 40px 20px 5px 20px;
}



/* Header */
.header-container {
    width: 100%;
    display: block;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0 2.5px 5px 0 #cccccc;}

header {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    width: 20%;
}

.navigation {
    width: 60%;
    text-align: center;
    font-size: 1rem;
}

.nav-item {
    display: inline-block;
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #357510;
    margin: 7px 0;
    z-index: 99;
}

.dropdown .nav-item {
    padding: 10px 25px;
    box-sizing: border-box;
    border-bottom: solid 1px #cccccc;
    text-align: center;
}

.nav-item:hover .dropdown {
    display: block;
}

.nav-item:hover .dropdown a {
    color: #ffffff;
    text-decoration: none;
    border: none;
}

.dropdown .nav-item:hover {
    background-color: #194201;
    transition-duration: 500ms;
}

.nav-item a {
    color: #357510;
    padding: 5px 20px;
    margin: 0 20px;
    border-bottom: solid 1px #357510;
}

.nav-item a:active {
    color: #194201;
    font-weight: 900;
    border-bottom: solid 3px #194201;
}

.cta {
    background-color: #357510;
    width: 20%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2.5px 5px #0000003a;
}

.cta:hover {
    background-color: #194201;
    transition-duration: 1s;
}

.cta a {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 900;
}



/* Homepage starts here */

/* Hero */
/* Left */
.content-container {
    width: 100%;
    display: block;
}

main {
    width: 1024px;
    margin: 0 auto;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero1 {
    width: 60%;
    padding: 0 50px 0 0 ;
    text-align: end;
}

.hero1 h2 {
    color: #357510;
    font-weight: 900;
    padding-bottom: 10px;
}

.hero1 h1 {
    font-size: 4rem;
    padding-bottom: 10px;
    text-shadow: 0 5px 5px #0000003a;
}

.hero1 p {
    padding-top: 10px;
}

/* Right */
.hero2 {
    width: 40%;
    text-align: right;
    padding: 100px 0;
}
.subhero {
    display: flex;
    justify-content: center;
}



/* Cards */
.cards-container {
    width: 100%;
    display: block;
    background-color: #ffffff;
}

.cards {
    width: 1024px;
    min-height: 300px;
    padding: 100px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #ffffff;
    font-size: 0.75rem;
}

.cards h3 {
    font-size: 1.5rem;
    padding: 30px 20px 5px 20px;
    font-weight: 900;
}

.cards p {
    line-height: 1rem;
    padding: 5px 20px;
}

.card1, .card2, .card3 {
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 25px #cccccc;
}

.card1 {
    background-image: url(images/Card1.jpg);
    background-color: #00000096;
}

.card2 {
    background-image: url(images/Card2.jpg);
    background-color: #00000041;
}

.card3 {
    background-image: url(images/Card3.jpg);
    background-color: #00000096;
}



/* Testimonials */
.testimonials {
    width: 100%;
    display: block;
}

.testimonials-container {
    width: 1024px;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 100px;
}

.tbox {
    width: 45%;
    border: #357510 solid 1px;
    border-radius: 10px;
    margin: 20px;
    padding: 25px;
    box-sizing: border-box;
}

.tbox p {
    font-size: 1rem;
    text-align: justify;
}

.testimonials h3 {
    font-size: 2rem;
    text-shadow: 0 2.5px 5px #0000003a;
    text-align: center;
    padding: 100px 0 25px;
}

.tbox :last-of-type {
    font-size: 1rem;
    letter-spacing: normal;
    font-weight: 900;
    color: #357510;
    padding: 10px 0;
    margin-left: 30px;
}



/* The contact page starts here */

/* Hero */

.contactpage .hero1 {
    width: 40%;
    min-height: 100%;
    display: block;
}

.contacts {
    width: 100%;
    min-height: 300px;
    background-color: #63a83e33;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    height: 100px;
    display: inline-block;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.contacts i {
    font-size: 2rem;
}

.contacts-item {
    display: flex;
    align-items: flex-end;
}


.contactpage .hero2 {
    width: 60%;
    text-align: left;
    padding: 100px 100px;
    box-sizing: border-box;
}

form {
    width: 100%;
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0 0 25px #00000023;
    border-radius: 10px;
}

input[type=text], input[type=email], select, textarea {
    margin: 10px 0;
    width: 100%;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    text-indent: 20px;
    color: #357510;
    background-color: #e6e6e6;
    border: #357510 solid 1px;
    border-radius: 5px;
}

::placeholder {
    color: #8e9988;
    padding-top: 10px;
}

legend, label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 10px 0;
    color: #000000;
}

.fieldlabel {
    font-size: 1rem;
    margin: 0 20px;
    font-weight: 900;
    color: #357510;
}

textarea {
    height: 100px;
}

input[type=submit] {
    background-color: #357510;
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2.5px 5px #0000003a;
    border: none;
    color: #ffffff;
    font-size: 1rem;
}
    
input[type=submit]:hover {
    background-color: #194201;
    transition-duration: 1s;
}


/* footer */
.footer-container {
    display: block;
    width: 100%;
    height: 250px;
    background-color: #194201;
}

footer {
    font-size: 1rem;
    color: #cccccc;
}

.top-footer {
    width: 100%;
    height: 180px;
    background-color: #357510;
}

.top-footer-items {
    width: 1024px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    box-sizing: border-box;
}

.footer-menu a {
    display: block;
    padding: 5px;
    color: #cccccc;
    text-decoration: underline;
}

footer p {
    letter-spacing: normal;
}

.social-icons {
    display: table-column;
    align-self: flex-end;
}

.social-icons i {
    font-size: 35px;
    padding: 0 10px;
}

.bottom-footer p {
    text-align: center;
    padding-top: 20px;
}

