.aboutContainer {
    display: block;
    width: 100%;
    background-image: url(../images/contact-form-background.png);
    background-color: rgba(255, 255, 255, 0.598);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroAbout{
    max-width: 1024px;
    margin: 0 auto;
    padding: 150px 40px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.aboutLeft h1 {
    font-size: 2.5rem;
    padding-bottom: 10px;
    text-shadow: 0 5px 5px #0000003a;
}

.aboutLeft span {
    color: #357510;
} 

.aboutRight img {
    width: 100%;
    border: solid 10px #357510;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.42);
    position: relative;
    top: 80px;
}

.galleryContainer {
    width: 100%;
    display: block;
    background-color: #deecdd;
}

.gallery {
    max-width: 1024px;
    min-height: 500px;
    margin: 0 auto;
    padding: 40px;
    text-align: justify;
}

.galleryLeft {
    margin-top: 100px;

}

.galleryRight img {
    width: 100%;
    padding: 20px 0;
}

.galleryLeft h2 {
    font-size: 1.5rem;
    color: #357510;
    font-weight: 900;
    padding-bottom: 20px;
}

.galleryLeft p {
    padding-bottom: 40px;
}

.galleryRight {
    display: grid;
}

@media (min-width: 900px) {

    .heroAbout {
        text-align: left;
        flex-direction: row;
        align-items: center;
        padding-top: 100px;
    }

    .aboutLeft {
        width: 70%;
        margin-right: 30px;
    }
    
    .aboutRight img {
        width: 100%;
        padding: 0;
        top: 100px;
        left: auto;
    }
    
    .galleryRight {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .galleryRight img {
        padding: 0;
    }

}